/* Great‼-ient Buttons v0.1.1 */
/* See https://github.com/kalgynirae/great-ient-buttons for license information. */

/* Selected resets from normalize.css (https://necolas.github.io/normalize.css/) */
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
}

.gb-button {
  background: var(--gb-background);
  border-radius: var(--gb-border-radius);
  border: solid 1px var(--gb-border-color);
  box-shadow: inset 0 1px 0 0 var(--gb-box-shadow-color);
  color: var(--gb-color);
  line-height: 1.8;
  padding: 0 0.5em;
  text-shadow: 1px 1px 0px var(--gb-text-shadow-color);
  text-transform: none;
  touch-action: manipulation;
  white-space: nowrap;
}
a.gb-button {
  text-decoration: none;
}
a.gb-button:hover {
  color: var(--gb-color);
}
.gb-label {
  background: var(--gb-background-label);
  border-radius: var(--gb-border-radius);
  border: solid 1px var(--gb-border-color);
  box-sizing: border-box;
  color: var(--gb-color-label);
  cursor: default;
  line-height: 1.8;
  text-align: center;
  padding: 0 0.5em;
  white-space: nowrap;
}
.gb-label > *, .gb-button > * {
  vertical-align: middle;
}
.gb-button:hover {
  background: var(--gb-background-hover);
}
.gb-button:active, .gb-button.active {
  background: var(--gb-background-active);
  box-shadow: inset 0 0 0 1px var(--gb-box-shadow-color-active);
}
.gb-button:disabled {
  background: var(--gb-background-label);
  box-shadow: none;
  color: var(--gb-color-disabled);
}
.gb-button svg path {
  fill: var(--gb-color);
}
.gb-label svg path {
  fill: var(--gb-color-label);
}
.gb-button svg {
  filter: drop-shadow(1px 1px 0 var(--gb-text-shadow-color));
}

a.gb-button {
  display: inline-block;
}

.gb-row {
  display: flex;
  align-items: center;
  justify-content center;
}
.gb-row.gb-large {
  font-size: 2em;
}
.gb-row > * {
  flex: initial;
}
.gb-row.gb-stretch > * {
  flex: 0 1 100%;
}
.gb-row > .gb-label {
  flex: none;
}

@media (min-width: 600px) {
  .gb-row > :not(:last-child) {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .gb-row > :not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.gb-big {
  line-height: 2.4;
  padding: 0 1em;
}

@media (max-width: 599px) {
  .gb-row {
    align-items: stretch;
    flex-direction: column;
  }
  .gb-row > :not(:last-child) {
    border-bottom-width: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .gb-row > :not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.gb-red {
  --gb-background: linear-gradient(to bottom, #833954 40%, #732a46 100%);
  --gb-background-hover: linear-gradient(to bottom, #944762 20%, #833954 100%);
  --gb-background-active: linear-gradient(to bottom, #631a38 20%, #6e2541 100%);
  --gb-background-disabled: #5d2b3c;
  --gb-border-color: black;
  --gb-border-radius: 10px;
  --gb-box-shadow-color: #8a4a60;
  --gb-box-shadow-color-active: #8a3354;
  --gb-color: #d4d4d4;
  --gb-color-disabled: #6a6a6a;
  --gb-text-shadow-color: #360012;
  --gb-background-label: #6a3648;
  --gb-color-label: #360012;
  --gb-text-color1: #e5a8ba;
  --gb-text-color2: #c6b88a;
  --gb-text-color3: #a4bae6;
  --gb-link-color: #b56680;
  --gb-link-color-hover: #ca6e8d;
}

.gb-orange {
  --gb-background: linear-gradient(to bottom, #7d452b 40%, #6d371e 100%);
  --gb-background-hover: linear-gradient(to bottom, #8d5438 20%, #7d452b 100%);
  --gb-background-active: linear-gradient(to bottom, #5d2a11 20%, #673319 100%);
  --gb-background-disabled: #593321;
  --gb-border-color: black;
  --gb-border-radius: 10px;
  --gb-box-shadow-color: #85543c;
  --gb-box-shadow-color-active: #814324;
  --gb-color: #d7d7d7;
  --gb-color-disabled: #6d6d6d;
  --gb-text-shadow-color: #330100;
  --gb-background-label: #663f2c;
  --gb-color-label: #330100;
  --gb-text-color1: #e1b099;
  --gb-text-color2: #9fc59d;
  --gb-text-color3: #d4b0da;
  --gb-link-color: #af7154;
  --gb-link-color-hover: #c27c59;
}

.gb-yellow {
  --gb-background: linear-gradient(to bottom, #66581b 40%, #574a0b 100%);
  --gb-background-hover: linear-gradient(to bottom, #756729 20%, #66581b 100%);
  --gb-background-active: linear-gradient(to bottom, #483d00 20%, #524606 100%);
  --gb-background-disabled: #4b4118;
  --gb-border-color: black;
  --gb-border-radius: 10px;
  --gb-box-shadow-color: #726531;
  --gb-box-shadow-color-active: #67580e;
  --gb-color: #dddddb;
  --gb-color-disabled: #727270;
  --gb-text-shadow-color: #251600;
  --gb-background-label: #574d23;
  --gb-color-label: #251600;
  --gb-text-color1: #cec090;
  --gb-text-color2: #87cfc0;
  --gb-text-color3: #efafc2;
  --gb-link-color: #958546;
  --gb-link-color-hover: #a49248;
}

.gb-green {
  --gb-background: linear-gradient(to bottom, #345c26 40%, #254d18 100%);
  --gb-background-hover: linear-gradient(to bottom, #426b33 20%, #345c26 100%);
  --gb-background-active: linear-gradient(to bottom, #163f0a 20%, #204914 100%);
  --gb-background-disabled: #27421e;
  --gb-border-color: black;
  --gb-border-radius: 10px;
  --gb-box-shadow-color: #456738;
  --gb-box-shadow-color-active: #2d5d1e;
  --gb-color: #d4d4d4;
  --gb-color-disabled: #6a6a6a;
  --gb-text-shadow-color: #001b00;
  --gb-background-label: #324d28;
  --gb-color-label: #001b00;
  --gb-text-color1: #a3c195;
  --gb-text-color2: #80c4d7;
  --gb-text-color3: #e1ac9b;
  --gb-link-color: #608950;
  --gb-link-color-hover: #679855;
}

.gb-cyan {
  --gb-background: linear-gradient(to bottom, #006051 40%, #005143 100%);
  --gb-background-hover: linear-gradient(to bottom, #006f5f 20%, #006051 100%);
  --gb-background-active: linear-gradient(to bottom, #004336 20%, #004d3f 100%);
  --gb-background-disabled: #00453b;
  --gb-border-color: black;
  --gb-border-radius: 10px;
  --gb-box-shadow-color: #036b5d;
  --gb-box-shadow-color-active: #006251;
  --gb-color: #d4d4d4;
  --gb-color-disabled: #6a6a6a;
  --gb-text-shadow-color: #001f0f;
  --gb-background-label: #005146;
  --gb-color-label: #001f0f;
  --gb-text-color1: #81c6b8;
  --gb-text-color2: #a4bae6;
  --gb-text-color3: #c6b88a;
  --gb-link-color: #1c8f7d;
  --gb-link-color-hover: #009e8a;
}

.gb-blue {
  --gb-background: linear-gradient(to bottom, #005e79 40%, #004f6a 100%);
  --gb-background-hover: linear-gradient(to bottom, #006d89 20%, #005e79 100%);
  --gb-background-active: linear-gradient(to bottom, #00415b 20%, #004b65 100%);
  --gb-background-disabled: #004356;
  --gb-border-color: black;
  --gb-border-radius: 10px;
  --gb-box-shadow-color: #006980;
  --gb-box-shadow-color-active: #005f7f;
  --gb-color: #d4d4d4;
  --gb-color-disabled: #6a6a6a;
  --gb-text-shadow-color: #001d32;
  --gb-background-label: #004f62;
  --gb-color-label: #001d32;
  --gb-text-color1: #81c3d8;
  --gb-text-color2: #ceaeda;
  --gb-text-color3: #a0c297;
  --gb-link-color: #008ca8;
  --gb-link-color-hover: #009abc;
}

.gb-indigo {
  --gb-background: linear-gradient(to bottom, #2c548a 40%, #19467b 100%);
  --gb-background-hover: linear-gradient(to bottom, #3d639a 20%, #2c548a 100%);
  --gb-background-active: linear-gradient(to bottom, #00396c 20%, #114276 100%);
  --gb-background-disabled: #243d61;
  --gb-border-color: black;
  --gb-border-radius: 10px;
  --gb-box-shadow-color: #43608f;
  --gb-box-shadow-color-active: #1f5593;
  --gb-color: #d4d4d4;
  --gb-color-disabled: #6a6a6a;
  --gb-text-shadow-color: #001340;
  --gb-background-label: #31486e;
  --gb-color-label: #001340;
  --gb-text-color1: #a4bae6;
  --gb-text-color2: #e5a8ba;
  --gb-text-color3: #81c6b8;
  --gb-link-color: #5e80bb;
  --gb-link-color-hover: #648ed1;
}

.gb-purple {
  --gb-background: linear-gradient(to bottom, #6a447a 40%, #5b366b 100%);
  --gb-background-hover: linear-gradient(to bottom, #79528a 20%, #6a447a 100%);
  --gb-background-active: linear-gradient(to bottom, #4c285c 20%, #563166 100%);
  --gb-background-disabled: #4b3256;
  --gb-border-color: black;
  --gb-border-radius: 10px;
  --gb-box-shadow-color: #745281;
  --gb-box-shadow-color-active: #6d4180;
  --gb-color: #d4d4d4;
  --gb-color-disabled: #6a6a6a;
  --gb-text-shadow-color: #230032;
  --gb-background-label: #583d63;
  --gb-color-label: #230032;
  --gb-text-color1: #ceaeda;
  --gb-text-color2: #e0ac99;
  --gb-text-color3: #81c3d8;
  --gb-link-color: #9970aa;
  --gb-link-color-hover: #aa7abe;
}

.gb-gray {
  --gb-background: linear-gradient(to bottom, #525252 40%, #444444 100%);
  --gb-background-hover: linear-gradient(to bottom, #616161 20%, #525252 100%);
  --gb-background-active: linear-gradient(to bottom, #373737 20%, #404040 100%);
  --gb-background-disabled: #3b3b3b;
  --gb-border-color: black;
  --gb-border-radius: 10px;
  --gb-box-shadow-color: #5e5e5e;
  --gb-box-shadow-color-active: #5a5052;
  --gb-color: #d4d4d4;
  --gb-color-disabled: #6a6a6a;
  --gb-text-shadow-color: #111111;
  --gb-background-label: #474747;
  --gb-color-label: #111111;
  --gb-text-color1: #b9b9b9;
  --gb-text-color2: #b9b9b9;
  --gb-text-color3: #b9b9b9;
  --gb-link-color: #7f7f7f;
  --gb-link-color-hover: #94888c;
}
